<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--        <div class="col-lg-4">-->
<!--            <img src="{% static 'images/kaggle.png' %}" class="category-pic">-->
<!--            <h3 class="fw-normal">Statistical researches</h3>-->
<!--            <p>Description of statistical researches.</p>-->
<!--            <p><a class="btn btn-secondary" href="{% url 'kaggle_competitions' %}">View details &raquo;</a></p>-->
<!--        </div>-->

<!--        <div class="col-lg-4">-->
<!--            <img src="{% static 'images/kaggle.png' %}" class="category-pic">-->
<!--            <h3 class="fw-normal">Kaggle competitions</h3>-->
<!--            <p>Description of kaggle experience.</p>-->
<!--            <p><a class="btn btn-secondary" href="{% url 'kaggle_competitions' %}">View details &raquo;</a></p>-->
<!--        </div>-->

<!--        <div class="col-lg-4">-->
<!--            <img src="{% static 'images/kaggle.png' %}" class="category-pic">-->
<!--            <h3 class="fw-normal">Programming</h3>-->
<!--            <p>Description of programming experience.</p>-->
<!--            <p><a class="btn btn-secondary" href="{% url 'programming' %}">View details &raquo;</a></p>-->
<!--        </div>-->
</body>
</html>